.homebanner{
    background-image: url(../assets/banner.avif);
    
}

.form_header{
    height: 50px;
    background: #365314;
    color: #fff;
    font-weight: 700;
    padding-top: 14px ;
}

.mute-text{
    font-size: 13px;
}
@media screen and (max-width:780px) {
    .phone-input{
        margin-top: 20px;
    }
    .right-form{
        margin-bottom: 45px;
    }
}