@media screen and (max-width: 780px) {
    .belowheader{
        text-align: center;
        justify-content: center;
    }
    .below-img{
        display: inline-block;
        align-content: center;
        justify-content: center;
    }
}