.offer-btn-box button:hover {
    background: rgba(10, 51, 95, 0.88);
    color: #fff;
}

.offer-btn-box .request-btn {
    color: #fff;
    background-color: rgba(10, 51, 95, 0.88);
}

.offer-btn-box .below-btn {
    color: rgba(10, 51, 95, 0.88);
    background: #fff;
    border: 2px solid rgba(10, 51, 95, 0.88);
}

.pb-offer {
    background: white;
    color: rgba(10, 51, 95, 0.88);
    border: 2px solid rgba(10, 51, 95, 0.88);
    font-size: 20px;
}
.request-btn{
    font-size: 20px;
}

.offer-header {
    background: rgba(10, 51, 95, 0.88);
}