.view-btn{
background-color: white;
border: 2px solid #76323f;
color: #76323f;
}

.view-btn:hover{
    background-color: #76323f;
    color: #fff;
}

.product-img:hover{
    transform: scale(1.3);
    z-index: 2;
}
