.call-btn{
    animation-name: trin;
    animation-duration: 6.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes trin {

    from {
      transform: rotate3d(0, 0, 1, 0deg);
    }
  
    20%,
    32%,
    44%,
    56%,
    68% {
      transform: rotate3d(0, 0, 1, 0deg);
    }
  
    23%,
    35%,
    47%,
    59%,
    71% {
      transform: rotate3d(0, 0, 1, 15deg);
    }
  
    26%,
    38%,
    50%,
    62%,
    74% {
      transform: rotate3d(0, 0, 1, 0deg);
    }
  
    29%,
    41%,
    53%,
    65%,
    77% {
      transform: rotate3d(0, 0, 1, -15deg);
    }
  
    80% {
      transform: rotate3d(0, 0, 1, 0deg);
    }
  
  }

  .topheader-container{
    background: rgba(10, 51, 95, 0.88);
  }

.call-btn:hover{
  background: #7743DB;
  /* animation: shake 0.9s; */
}
/* @keyframes shake{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
} */
@media screen and (max-width: 780px) {
    .topheader{
        text-align: center;
        
    }
    .call-btn{
        margin-bottom: 10px;
    }
    .top-header-img{
        padding-top: 70px;
        display: inline-block;
        align-content: center;
        justify-content: center;
    }
}